#Redireciona www para https://novacantu.com
RewriteEngine on
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://novacantu.com/$1 [R,L]

# Erro 404
    ErrorDocument 400 https://novacantu.com/error/400/

# Erro 401
    ErrorDocument 401 https://novacantu.com/error/401/

# Erro 403
    ErrorDocument 403 https://novacantu.com/error/403/

# Erro 404
    ErrorDocument 404 https://novacantu.com/error/404/

# Erro 500
    ErrorDocument 500 https://novacantu.com/error/500/