* {
	font-family:Arial, Tahoma, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
}

body {
	background-image: url("/img/login/background.png");
	background-repeat: repeat;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.conteudo {
	position: absolute;
	width: 100%;
	height: 100%;
}

#logout a {
	position:relative;
	font-weight: bold;
	text-decoration: none;
	display:block;
	font-size:1em;
	color:#dedede;
	padding-top:3px;
	margin-right: 3px;
	float:right;
}

#cabecalho {
	width:100%;
	height:80px;
}

#titulo {
	display:block;
	padding-top: 8px;
	font-size:2.3em;
	color:#dddddd;
	text-align:center;
	text-shadow: black 2px 2px 7px;
	padding-bottom: 40px;
}

#subtitulo {
	position:relative;
	font-size:1.8em;
	color:#dedede;
	text-align:center;
	text-shadow: black 2px 2px 7px;
}

#espacador {
	padding-top: 8px;
	padding-bottom: 8px;
}

#selecionar {
	padding-top: 60px;
	position:relative;
	font-size:1.5em;
	color:#dedede;
	text-align:center;
	text-shadow: black 2px 2px 7px;
}

#opcoes a {
	position:relative;
	font-size:1.3em;
	color:#dedede;
	text-align:center;
	text-shadow: black 2px 2px 7px;
	text-decoration:none;
}

#rodape {
	position:fixed;
	bottom:0;
	width:100%;
	padding:10px 0;
	text-align:center;
	background:#e3e3e3;
	border-top:1px solid #ccc;
}

#botao-deslogar input {
	float:center;
	padding:5px 15px;
	font: 12px;
	font-weight: bold;
	border-radius:20px;
	text-shadow: 0px 1px 0px white;
	border:1px solid #9eb9c3;
	outline: 0 none;
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #d6d6d6 100%);
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#d6d6d6 100%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d6d6d6',GradientType=0 );
}

 #botao-deslogar:hover input {
	background: #d6d6d6;
	background: -moz-linear-gradient(top,  #d6d6d6 0%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top,  #d6d6d6 0%,#f2f2f2 100%);
	background: linear-gradient(to bottom,  #d6d6d6 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#f2f2f2',GradientType=0 );
}